<div class="container">

<div class="gravata-container">

    <h2 class="heading-title mt-2">My Orders</h2>
    <p style="font-size: 18px;">Check bellow the orders made.</p>

  <table class="table table-dark table-style">
    <thead>
      <tr>
        <th scope="col">Item Nº</th>
        <th scope="col">Date of creation</th>
        <th scope="col">Client</th>
        <th scope="col">Items</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Discount</th>
        <th scope="col">Total</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <th scope="row"><%= order.created_at.strftime("%d/%m") %></th>
            <td ><%= order.user.email %></td>

            <td><%= order.order_products(order).count %></td>
            <td>R$ <%= number_with_precision(order.cart.total_amount(order.cart.cart_products), precision: 2, separator: ',', delimiter: '.') %></td>
            <td>R$ <%= number_with_precision(order.cart.discount, precision: 2, separator: ',', delimiter: '.') %></td>
            <td>R$ <%= number_with_precision(order.cart.total_amount(order.cart.cart_products)-order.cart.discount, precision: 2, separator: ',', delimiter: '.') %></td>

            <td>
              <%= link_to order_path(order) do %>
                <i class="far fa-eye pt-1" style="font-size: 18px; color:white;"></i>
              <% end %>
            </td>

          </tr>
      <% end %>
    </tbody>
  </table>
</div>



</div>
