<div class="container">
  <div style="margin:0 20%; padding: 4% 0; color:white;">
    <div class="text-center pb-5" style="padding-left: 20%;">
      <% if @product.id.nil? %>
        <h2>New Product</h2>
      <% else %>
        <h2>Edit Product</h2>
      <% end %>
    </div>

    <%= simple_form_for @product,
       wrapper: :horizontal_form,
      wrapper_mappings: {
        boolean:       :horizontal_boolean,
        check_boxes:   :horizontal_collection,
        date:          :horizontal_multi_select,
        datetime:      :horizontal_multi_select,
        file:          :horizontal_file,
        radio_buttons: :horizontal_collection,
        range:         :horizontal_range,
        time:          :horizontal_multi_select
      } do |f| %>

      <%= f.error_notification %>

      <%= f.input :name %>

      <%= f.input :brand  %>

      <%= f.input :category %>

      <%= f.input :image_url %>

      <%= f.input :for %>

      <%= f.input :desc1 %>

      <%= f.input :desc2 %>
      <%= f.input :specs_name %>
      <%= f.input :specs_desc %>
      <%= f.input :price %>

      <div class="form-group row mb-0">
        <div class="col-sm-9 offset-sm-3 d-flex justify-content-between">
          <div>
            <%= f.button :button, "Erase", type: "reset", class: "btn-secondary" %>
          </div>
          <div>
            <%= f.button :submit, class: "btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>
