

  <% if @products.empty? %>
    <h2 style="padding-top:20px;font-size: 30px;font-weight:bold; color:white;">No results for: "<%= params[:query] %>"</h2>
  <% elsif params[:query]%>
    <h2 style="padding-top:20px;font-size: 30px;font-weight:bold; color:white;">Results for: "<%= params[:query] %>"</h2>
  <% end %>

<!-- <span class="badge badge-light">Light</span>
 -->


  <div class="row justify-content-around pt-5" style="margin-right: 0px; margin-left: 0px;">

    <% @products.each do |product|%>

      <% unless product.price.nil? %>
        <div class="card m-2 text-center" style="width: 18rem; border-radius: 8px;">

        <%= link_to product_path(product), style:"text-decoration:none;" do %>
          <%= image_tag product.image_url, size: "280x280",
          src: 'Image Not Found',
          onerror: 'this.error=null;this.src="https://i.pinimg.com/originals/b2/a1/81/b2a1819f5aae2d868b410e1aff64bf29.jpg"', class: 'card-img-top', style: "border-radius: 8px;" %>
        <% end %>

          <div class="card-body">
              <h5 class="card-title" style="color:#161D28;"><%= product.name %></h5>
            <p class="card-text" style="color:#161D28;  font-weight: bold; font-size: 18px;">R$ <%= number_with_precision(product.price, precision: 2) %></p>
            <%= link_to add_to_cart_product_path(product),method: :patch, class:"btn", style:"color:white; background-color:#72B8DB;" do %>
              Add to cart <i class="fas fa-cart-plus"></i>
            <% end %>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>

