
<div class="gravata-container">

    <h2 class="heading-title mt-2">Products Management</h2>
    <p style="font-size: 18px;">Include bellow a YAML file to add a set of new products, or click the button "New Product" to add a new one.</p>

  <div class="input-file">
    <%= form_for :upload, :url => {:action=>:upload}, :html=>{:multipart=>true} do |f| %>
      <%= f.file_field :file %>
      <%= f.submit 'Upload' %>
    <% end %>
  </div>

  <table class="table table-dark table-style">
    <thead>
      <tr>
        <th scope="col">Item Nº</th>
        <th scope="col">Date of input</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <th scope="row"><%= product.created_at.strftime("%d/%m") %></th>
            <td ><%= product.name %></td>
            <td><%= product.brand %></td>
            <td><%= product.category %></td>
            <% if product.price.nil? %>
              <td style="background-color:red;"> Set a price! </td>
            <% else %>
              <td>R$ <%= number_with_precision(product.price, precision: 2) %> </td>
            <% end %>
            <td>
              <%= link_to edit_product_path(product) do %>
                <i class="far fa-edit pt-1" style="font-size: 18px; color:white;"></i>
              <% end %>
            </td>
            <td>
              <%= link_to product_path(product), method: :delete, data: { confirm: 'Are you sure?'} do %>
                <i class="fas fa-trash-alt pt-1" style="font-size: 18px; color:white;"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>


