<p><%= @product.name %></p>
<p><%= @product.brand %></p>
<p><%= @product.category %></p>
<p><%= @product.image_url %></p>
<p><%= @product.for %></p>
<p><%= @product.desc1 %></p>
<%= @product.desc2 %>
<p><%= @product.specs_name %></p>
<p><%= @product.specs_desc %></p>
<p><%= @product.price %></p>
